
 <!--
<hr/>
<app-contact></app-contact>
<hr/>
<app-calculator></app-calculator>
<hr/>
<app-user></app-user>
<hr/>
<app-home></app-home> 
<hr/>
-->
<nav class="navbar navbar-default">
    <div>
        <input type="=text" name="title" (change)="debug($event)">
    </div>
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                PROJECT
            </a>
        </div>
        <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                ><a routerLink="/">Home</a></li>
                   <li routerLinkActive="active"><a routerLink="/calculator">Calculator</a></li>
                   <li routerLinkActive="active"><a routerLink="/user">User</a></li>
                
              
            </ul>
        </div>
    </div>
 </nav> 



 <router-outlet></router-outlet>
 